.calendar-component {
      font-family: sans-serif;
      text-align: center;
      margin: 2rem;
} 
.rbc-btn-group  button {
background-color: cyan;
color: black;
border-radius: 10px;
border:2px solid white;
} 

.rbc-month-header {
      background-color: cyan;
}

/* .rbc-toolbar {
      color: cyan;
} */
